Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

ktlint-check:
  run: ./gradlew ktlintCheck --daemon
  tags: format lint

terraform-fmt-check:
  run: terraform fmt -check infra/
  tags: format

terraform-validate:
  run: cd infra && terraform init -backend=false && terraform validate
  tags: lint

feat: 開発環境の devcontainer を整備する (#302)
  .devcontainer/README.md
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  README.md
Due: none

feat: 繁殖成績報告（種付〜分娩）のドメインモデルとサービスを実装する (#265)
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/Covering.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/CoveringCertificateNumber.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/FoalingOutcome.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCovering.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/CoveringCertificateNumberTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCoveringTest.kt
Due: ktlint-check

feat: devcontainer に Docker-in-Docker を追加して terraform MCP をコンテナ内で使えるようにする
  .devcontainer/README.md
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

test: 集約のイミュータブル性（var 禁止）を ArchUnit で機械強制する (#307)
  .claude/rules/architecture.md
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
Due: ktlint-check

feat: 繁殖成績報告の application 層ユースケースと REST IF を実装する (#323)
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/horseracing/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/FoalingOutcomeWire.kt
  src/main/kotlin/com/example/api/controller/breeding/RecordCoveringRequest.kt
  src/main/kotlin/com/example/api/controller/breeding/ReportFoalingRequest.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/breeding/InMemoryBreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/breeding/InMemoryBreedingResultRepository.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/ReportFoalingUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/FoalingOutcomeWireTest.kt
Due: ktlint-check

test: ドメインサービスのトップレベル関数性と RestController の ResponseEntity 不使用を ArchUnit で機械強制する
  .claude/rules/architecture.md
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
Due: ktlint-check

docs: ADR-0010 集約をまたぐ前提条件を持つ生成口のドメインサービス封じ込めを記録 (#268)
  CLAUDE.md
  docs/adr/0010-confine-aggregate-creation-to-domain-service.md
  docs/adr/README.md
Due: none

feat: 生産産駒(LiveFoal)から血統登録への接続をドメインサービスで実装する
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/FoalIdentity.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoal.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoalTest.kt
Due: ktlint-check

feat: Issue 優先度を GitHub Projects のカスタムフィールドへ移行する (#335)
  CLAUDE.md
  docs/adr/0011-priority-via-projects-custom-field.md
  docs/adr/README.md
  scripts/migrate-priority-to-project.sh
Due: none

feat: 生産産駒登録ユースケース(RegisterFoalUseCase)を追加する
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCase.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCaseTest.kt
Due: ktlint-check

feat: ユビキタス言語の一覧化・可視化の仕組みを用意する (#346)
  build.gradle.kts
  docs/ubiquitous-language.md
  src/test/kotlin/com/example/api/architecture/UbiquitousLanguageCatalogTest.kt
Due: ktlint-check

feat: 競走馬登録(Racehorse)を実装しロール統一方針を ADR 化する (#266)
  docs/adr/0012-horse-roles-as-separate-aggregates.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/application/horseracing/racing/RegisterAsRacehorseUseCase.kt
  src/main/kotlin/com/example/api/controller/racing/RacingRegistrationController.kt
  src/main/kotlin/com/example/api/controller/racing/RacingRegistrationResponse.kt
  src/main/kotlin/com/example/api/controller/racing/RegisterRacingRegistrationRequest.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/racehorse/Racehorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/racing/RacingRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/racing/RacingRegistrationNumber.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/racing/RacingRegistrationRepository.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/racing/RegisterAsRacehorse.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/racing/InMemoryRacingRegistrationRepository.kt
  src/test/kotlin/com/example/api/application/horseracing/racing/RegisterAsRacehorseUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/racing/RacingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/racing/RacingRegistrationFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/racing/RacingRegistrationNumberTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/racing/RegisterAsRacehorseTest.kt
Due: ktlint-check

docs: 作成した Issue は必ず Project に追加するルールを明文化する
  CLAUDE.md
Due: none

refactor: REST 命名規約を確定する（URL=camelCase / ボディ=snake_case）+ ADR 化 (#337)
  .claude/rules/api-design.md
  docs/adr/0012-rest-naming-convention.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/controller/GlobalExceptionHandler.kt
  src/main/kotlin/com/example/api/controller/ProblemResponses.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/RecordCoveringRequest.kt
  src/main/kotlin/com/example/api/controller/breeding/ReportFoalingRequest.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseResponse.kt
  src/main/kotlin/com/example/api/controller/horse/NameHorseProblem.kt
  src/main/kotlin/com/example/api/controller/horse/RegisterBloodHorseRequest.kt
  src/main/kotlin/com/example/api/controller/horse/RegisterHorseNameRequest.kt
  src/main/kotlin/com/example/api/controller/jockey/RegisterJockeyResponse.kt
  src/main/resources/application.yml
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/FoalingOutcomeWireTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
Due: ktlint-check

docs: ADR-0012 競走馬登録(JRA)を別の境界づけられたコンテキストとして分離する
  docs/adr/0012-racehorse-registration-as-separate-context.md
  docs/adr/README.md
Due: none

feat: DTO がドメイン enum をフィールド型に晒さないことを ArchUnit で強制する (#297)
  .claude/rules/architecture.md
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
  src/test/kotlin/com/example/api/architecture/DtoDomainEnumRuleTest.kt
  src/test/kotlin/com/example/api/controller/archfixture/DomainEnumFieldDtoFixture.kt
Due: ktlint-check

feat: ドメイン/アプリ層で throw しないことを detekt カスタムルールで強制する (#298)
  .claude/rules/architecture.md
  .claude/rules/error-handling.md
  CLAUDE.md
  build.gradle.kts
  config/detekt/detekt.yml
  detekt-rules/build.gradle.kts
  detekt-rules/src/main/kotlin/com/example/api/detekt/NoThrowInDomainAndApplication.kt
  detekt-rules/src/main/kotlin/com/example/api/detekt/ToyBoxRuleSetProvider.kt
  detekt-rules/src/main/resources/META-INF/services/dev.detekt.api.RuleSetProvider
  detekt-rules/src/test/kotlin/com/example/api/detekt/NoThrowInDomainAndApplicationTest.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Due: ktlint-check

feat: 父母不明個体（輸入馬・基礎輸入馬）の血統登録経路を設ける
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseResponse.kt
  src/main/kotlin/com/example/api/controller/horse/RegisterImportedHorseRequest.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/ImportedHorseEntry.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/LandingDate.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/OriginCountry.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterImportedHorse.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/OriginCountryTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/horse/RegisterImportedHorseTest.kt
Due: ktlint-check

feat: 集約に data class を使わない規約(ADR-0009)を ArchUnit で強制する (#307)
  .claude/rules/architecture.md
  src/test/kotlin/com/example/api/architecture/AggregateNotDataClassRuleTest.kt
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
  src/test/kotlin/com/example/api/architecture/fixture/DataClassAggregateFixture.kt
Due: ktlint-check

feat: 種牡馬登録(Stallion ロール)を繁殖登録として実装する (#266)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/StallionRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/StallionRegistrationRepository.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/racehorse/Racehorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/stallion/Stallion.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterForBreeding.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterStallion.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/breeding/InMemoryStallionRegistrationRepository.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterStallionTest.kt
Due: ktlint-check

refactor: 繁殖登録を雄雌共通の単一集約に統合しロールを性で決める (#266)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/RecordCoveringRequest.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingRole.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/StallionRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/StallionRegistrationRepository.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCovering.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterForBreeding.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterStallion.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoal.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/breeding/InMemoryStallionRegistrationRepository.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCoveringTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterStallionTest.kt
Due: ktlint-check

refactor: 生成口の封じ込めを internal から ArchUnit 強制へ再設計する (#326)
  .claude/rules/architecture.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/adr/0010-confine-aggregate-creation-to-domain-service.md
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorse.kt
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
Due: ktlint-check

refactor: 生成口の封じ込めを廃し、自己検証ファクトリへ統一する (#326)
  .claude/rules/architecture.md
  .claude/rules/testing.md
  CLAUDE.md
  docs/adr/0010-confine-aggregate-creation-to-domain-service.md
  docs/adr/0014-self-validating-factory-over-confinement.md
  docs/adr/README.md
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseResponse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingRegistration.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCovering.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RegisterForBreeding.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoal.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterImportedHorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/horse/RegisterInStudBook.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterInStudBookUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultCreateTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseCreateImportedTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseCreateTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoalTest.kt
Due: ktlint-check

perf: Gradle ビルド性能を実測で改善する (#349)
  .github/workflows/api-tests.yml
  build.gradle.kts
  docs/adr/0015-gradle-build-performance-tuning.md
  docs/adr/README.md
  gradle.properties
  lefthook.yml
Due: none

docs: ADR-0015 にテスト並列化の実測根拠と Spring 公式制約を追補 (#349)
  build.gradle.kts
  docs/adr/0015-gradle-build-performance-tuning.md
Due: none

docs: testing.md にテスト実行性能（コンテキストキャッシュ優先・並列化しない）節を追加 (#349)
  .claude/rules/testing.md
Due: none

chore: mise 管理ツールのバージョンを更新する (#341)
  mise.lock
  mise.toml
Due: none

feat: 繁殖成績の「種付せず」区分（種付なし年次成績）をモデル化する (#322)
  docs/adr/0016-not-covered-as-foaling-outcome-variant.md
  docs/adr/README.md
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/FoalingOutcomeWire.kt
  src/main/kotlin/com/example/api/controller/breeding/ReportFoalingRequest.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/FoalingOutcome.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/FoalingOutcomeWireTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultCreateTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultCreateUncoveredTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultTest.kt
Due: ktlint-check

docs: ADR-0017 Terraform 品質ゲートに tflint と Trivy を採用し OPA は当面見送る決定を記録
  docs/adr/0017-terraform-quality-gates-tflint-trivy-defer-opa.md
  docs/adr/README.md
Due: none

feat: 種付せず記録の application/controller 入口を整備する (#376)
  docs/adr/0018-uncovered-via-discriminated-single-create.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/RecordBreedingResultRequest.kt
  src/main/kotlin/com/example/api/controller/breeding/RecordCoveringRequest.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordUncoveredUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
Due: ktlint-check

chore: コンパイラ警告をエラー化して警告ゼロ運用を強制する (ADR-0019)
  .claude/rules/architecture.md
  .github/workflows/api-tests.yml
  build.gradle.kts
  detekt-rules/build.gradle.kts
  docs/adr/0019-compiler-warnings-as-errors.md
  docs/adr/README.md
Due: ktlint-check

refactor: 父母・原産国を sealed Origin に統合し response を discriminated origin にする (#362)
  .claude/rules/api-design.md
  docs/adr/0019-sealed-origin-and-discriminated-origin-subobject.md
  docs/adr/README.md
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/controller/horse/BloodHorseResponse.kt
  src/main/kotlin/com/example/api/controller/horse/OriginDto.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/Origin.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/horseracing/horse/RegisterInStudBookUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseCreateImportedTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseCreateTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/horse/bloodhorse/BloodHorseTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/horse/RegisterFoalTest.kt
Due: ktlint-check

feat: tflint を導入して Terraform を lint する (#377)
  .github/workflows/terraform-check.yml
  infra/.tflint.hcl
  infra/modules/cicd/versions.tf
  infra/modules/cloudrun/versions.tf
  lefthook.yml
  mise.lock
  mise.toml
Due: terraform-fmt-check, terraform-validate

refactor: 父母不在のレスポンスを 422 Unprocessable Entity で確定する (#275)
  .claude/rules/api-design.md
  docs/adr/0021-parent-not-found-unprocessable-entity.md
  src/main/kotlin/com/example/api/controller/horse/BloodHorseResponse.kt
Due: ktlint-check

docs: ADR-0021 と api-design.md に AIP との対比を追記する (#275)
  .claude/rules/api-design.md
  docs/adr/0021-parent-not-found-unprocessable-entity.md
Due: none

refactor: RegisterJockeyResponse を単一リソース DTO JockeyResponse へ寄せる (#361)
  src/main/kotlin/com/example/api/controller/jockey/JockeyController.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyProblem.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyResponse.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
Due: ktlint-check

test: BloodHorseControllerTest の validBody を DTO シリアライズ由来にする
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

feat: 種付記録に同一繁殖年の重複記録禁止を追加 (#370)
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/breeding/InMemoryBreedingResultRepository.kt
  src/test/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultCreateTest.kt
Due: ktlint-check

refactor: 種付年の一意性検証をファクトリからドメインサービス recordCovering へ移す (#370)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCovering.kt
  src/test/kotlin/com/example/api/domain/horseracing/model/breeding/BreedingResultCreateTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCoveringTest.kt
Due: ktlint-check

refactor: recordCovering をリポジトリ注入のドメインサービスにし使用条件を ADR 化 (#370)
  .claude/rules/architecture.md
  .claude/rules/testing.md
  docs/adr/0022-domain-service-repository-for-set-invariants.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/application/horseracing/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCovering.kt
  src/test/kotlin/com/example/api/domain/horseracing/service/breeding/RecordCoveringTest.kt
Due: ktlint-check

Path conditions:
  ktlint-check: any of: **/*.{kt,kts}
  terraform-fmt-check: any of: infra/*.tf
  terraform-validate: any of: infra/*.tf
