Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

lefthook.yml:

# Lefthook の設定ファイル
# pre-commit hook を使用してコード品質をコミット前に確保する

pre-commit:
  parallel: true
  commands:
    # EditorConfig準拠チェック
    editorconfig-check:
      run: ec
      tags: format

    # ktlint によるコードスタイルチェック
    ktlint-check:
      glob: "**/*.{kt,kts}"
      run: ./gradlew ktlintCheck --daemon
      tags: format lint

    # Terraform フォーマットチェック
    terraform-fmt-check:
      glob: "infra/*.tf"
      run: terraform fmt -check infra/
      tags: format

    # Terraform バリデーション
    terraform-validate:
      glob: "infra/*.tf"
      run: cd infra && terraform init -backend=false && terraform validate
      tags: lint

pre-push:
  commands:
    # プッシュ前に全体のテストを実行
    full-test:
      run: ./gradlew test
      tags: test

commit-msg:
  commands:
    # コミットメッセージのフォーマットチェック（オプション）
    commitizen-check:
      run: |
        if ! echo "$(head -n1 {1})" | grep -E "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" > /dev/null; then
          echo "コミットメッセージは conventional commit 形式で記述してください"
          echo "例: feat: 新機能を追加"
          echo "例: fix: バグを修正"
          echo "例: docs: ドキュメントを更新"
          exit 1
        fi
      tags: commit-msg

ci: db-doc-check の path フィルタに mise.toml/mise.lock を追加(#447)
  .github/workflows/db-doc-check.yml
Due: none

docs: ADR-0043 集約⇔テーブルのマッピング指針を定める
  .claude/rules/architecture.md
  docs/adr/0043-aggregate-to-table-mapping-guidelines.md
  docs/adr/README.md
Due: none

docs: ADR-0044 本番 DB に Prisma Postgres を採用し ADR-0033 を supersede
  docs/adr/0033-defer-production-db-selection.md
  docs/adr/0044-adopt-prisma-postgres-for-production-db.md
  docs/adr/README.md
Due: none

fix: tbls 実行パスを mise which で解決し素叩き ./gradlew を PATH 非依存にする
  build.gradle.kts
  src/dbdoc/kotlin/com/example/api/dbdoc/DbDocGenerator.kt
Due: ktlint-check

chore: tbls lint ルールを一通り列挙し ADR 参照を 0045 に修正(#447)
  .tbls.yml
Due: none

chore: tbls lint を現スキーマで通せる範囲で有効化する(#447)
  .tbls.yml
Due: none

chore: PostgreSQL ドライバを本番ランタイムへ昇格する
  build.gradle.kts
Due: none

feat: ローカル開発の PostgreSQL を docker-compose で供給する
  build.gradle.kts
  compose.yaml
Due: none

ci: smoke test を実 PostgreSQL コンテナで実施する
  .github/workflows/container-smoke-test.yml
Due: none

chore: Claude Code の Kotlin LSP プラグインを採用する (#510)
  .claude/settings.json
  .devcontainer/allowed-domains.txt
  CLAUDE.md
  docs/adr/0046-adopt-kotlin-lsp-plugin.md
  docs/adr/README.md
  mise.lock
  mise.toml
Due: none

fix: datasource の driver を JDBC URL から導出し env 上書きで PG に切替可能にする
  src/main/resources/application.yml
  src/test/kotlin/com/example/api/support/PostgresContainerSupport.kt
Due: ktlint-check

feat: 本番 DB(Prisma Postgres) を IaC で新設し接続情報を Secret Manager 管理にする (#451 Phase C)
  infra/.terraform.lock.hcl
  infra/main.tf
  infra/modules/prisma-postgres/main.tf
  infra/modules/prisma-postgres/outputs.tf
  infra/modules/prisma-postgres/variables.tf
  infra/modules/prisma-postgres/versions.tf
  infra/providers.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

docs: ADR-0047/0048 DB スキーマ設計（集約間 FK 安全網・コンテキスト別スキーマ）を記録
  docs/adr/0047-cross-aggregate-foreign-keys-as-safety-net.md
  docs/adr/0048-per-context-db-schema-namespaces.md
  docs/adr/README.md
Due: none

fix: kotlin-lsp の mise.lock に全プラットフォームの checksum を追記し Linux CI の --locked 失敗を解消する (#510)
  mise.lock
Due: none

fix: CI 専用 mise 設定で http backend ツール(kotlin-lsp/tfctl)を除外し Linux の --locked 失敗を解消する (#510)
  .github/workflows/shellcheck.yml
  .github/workflows/sql-check.yml
  .github/workflows/terraform-check.yml
  mise.ci.toml
Due: none

feat: Prisma プロジェクト名を機微化し HCP 変数で供給する (#451 Phase C)
  infra/main.tf
  infra/modules/prisma-postgres/variables.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

feat: 本番 datasource を Prisma Postgres へ切り替え H2 を全面脱却する (#451 Phase D)
  .github/workflows/deploy.yml
  build.gradle.kts
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/main/resources/application.yml
  src/test/kotlin/com/example/api/ApiApplicationTests.kt
  src/test/kotlin/com/example/api/OpenApiTest.kt
  src/test/kotlin/com/example/api/actuator/HealthEndpointTest.kt
  src/test/kotlin/com/example/api/mcp/McpServerWiringTest.kt
  src/test/kotlin/com/example/api/support/PostgresContainerSupport.kt
Due: ktlint-check

refactor: Secret 注入を deploy-cloudrun の secrets 入力へ移し overwrite で宣言的にする (#451 Phase D)
  .github/workflows/deploy.yml
Due: none

docs: application.yml の secret 注入コメントを deploy-cloudrun secrets 入力方式へ追従する (#451 Phase D)
  src/main/resources/application.yml
Due: none

fix: Cloud Run の実行環境を gen2 に明示し外部 DB への DNS 解決失敗を解消する (#451)
  .github/workflows/deploy.yml
Due: none

fix: datasource URL のホスト組み立てで direct_host のポート重複を解消する (#451)
  infra/modules/prisma-postgres/main.tf
Due: terraform-fmt-check, terraform-validate

feat: breeding_registration.retirement の共在 CHECK を遡及追加する (#522)
  src/main/resources/db/migration/V6__add_breeding_registration_retirement_check.sql
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
Due: ktlint-check

feat: Stop hook 用の失敗指紋 dedup ヘルパーを追加 (#519)
  .claude/hooks/lib/stop-hook-dedup.sh
Due: none

feat: stop-kotlin-quality に並行実行ガードと失敗指紋 dedup を組み込む (#519)
  .claude/hooks/stop-kotlin-quality.sh
Due: none

feat: stop-terraform-validate に失敗指紋 dedup を組み込む (#519)
  .claude/hooks/stop-terraform-validate.sh
Due: none

docs: shellcheck のコマンド例に .claude/hooks/lib/ を追加 (#519)
  CLAUDE.md
Due: none

feat: 楽観ロック version を運ぶ Versioned 封筒と UpdateConflict を共有カーネルへ追加する (#424)
  src/main/kotlin/com/example/api/domain/shared/Versioned.kt
  src/test/kotlin/com/example/api/domain/shared/VersionedTest.kt
Due: ktlint-check

feat: BreedingResult リポジトリにドメイン経由の update と Versioned findById を導入する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
Due: ktlint-check

feat: 分娩結果報告を楽観ロック付き update 経路に切り替える (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingResultProblem.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
Due: ktlint-check

docs: ADR-0049 Atlas 不採用と Flyway 中心ツールチェーン維持を記録 (#507)
  docs/adr/0049-decline-atlas-keep-flyway-toolchain.md
  docs/adr/README.md
Due: none

feat: BreedingRegistration リポジトリにドメイン経由の update と Versioned findById を導入する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
Due: ktlint-check

feat: BloodHorse リポジトリにドメイン経由の update と Versioned findById を導入する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

feat: 馬名登録を楽観ロック付き update 経路に切り替える (#424)
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/problem/BloodHorseProblem.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

docs: 楽観ロック version の Versioned 封筒方式を ADR として記録する (#424)
  docs/adr/0027-persistence-spring-data-jdbc.md
  docs/adr/0047-versioned-envelope-for-optimistic-locking.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/infrastructure/racing/jockey/JdbcJockeyRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/inspection/JdbcHorseInspectionRepository.kt
Due: ktlint-check

chore: H2 前提の記述を解消し squawk タイムアウトルールへ準拠する(#447)
  .squawk.toml
  docs/adr/0045-tbls-db-schema-docs.md
  src/dbdoc/kotlin/com/example/api/dbdoc/DbDocGenerator.kt
  src/main/resources/db/migration/V7__add_table_and_column_comments.sql
Due: ktlint-check

ci: db-doc-check の mise セットアップに MISE_ENV: ci を追加する(#447)
  .github/workflows/db-doc-check.yml
Due: none

feat: 集約が楽観ロック version を保持できるよう Entity 基底へ追加する (#424)
  src/main/kotlin/com/example/api/domain/shared/Entity.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistration.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorse.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepository.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationTest.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResultTest.kt
  src/test/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseTest.kt
Due: ktlint-check

refactor: BreedingResult リポジトリを集約 version 判別の save 一本へ統合する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
Due: ktlint-check

refactor: BreedingRegistration リポジトリを集約 version 判別の save 一本へ統合する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
Due: ktlint-check

refactor: BloodHorse リポジトリを集約 version 判別の save 一本へ統合する (#424)
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepository.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCaseTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check
