Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

lefthook.yml:

# Lefthook の設定ファイル
# pre-commit hook を使用してコード品質をコミット前に確保する

pre-commit:
  parallel: true
  commands:
    # EditorConfig準拠チェック
    editorconfig-check:
      run: ec
      tags: format

    # ktlint によるコードスタイルチェック
    ktlint-check:
      glob: "**/*.{kt,kts}"
      run: ./gradlew ktlintCheck --daemon
      tags: format lint

    # Terraform フォーマットチェック
    terraform-fmt-check:
      glob: "infra/*.tf"
      run: terraform fmt -check infra/
      tags: format

    # Terraform バリデーション
    terraform-validate:
      glob: "infra/*.tf"
      run: cd infra && terraform init -backend=false && terraform validate
      tags: lint

pre-push:
  commands:
    # プッシュ前に全体のテストを実行
    full-test:
      run: ./gradlew test
      tags: test

commit-msg:
  commands:
    # コミットメッセージのフォーマットチェック（オプション）
    commitizen-check:
      run: |
        if ! echo "$(head -n1 {1})" | grep -E "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" > /dev/null; then
          echo "コミットメッセージは conventional commit 形式で記述してください"
          echo "例: feat: 新機能を追加"
          echo "例: fix: バグを修正"
          echo "例: docs: ドキュメントを更新"
          exit 1
        fi
      tags: commit-msg

chore: frontend の npm を Dependabot 対象にし react-router の脆弱性を解消する
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: 共有カーネルに AccountId / WorldId を置く
  src/main/kotlin/com/example/api/domain/shared/Tenancy.kt
  src/test/kotlin/com/example/api/architecture/DomainModelingRulesTest.kt
Due: ktlint-check

feat: iam スキーマに account / world テーブルを追加する
  dbdoc/README.md
  dbdoc/iam.account.md
  dbdoc/iam.world.md
  src/main/resources/db/migration/V17__create_iam_account_and_world.sql
  src/test/kotlin/com/example/api/infrastructure/iam/IamSchemaContractTest.kt
Due: ktlint-check

feat: iam に Account 集約とリポジトリポートを追加する
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/iam/model/account/Account.kt
  src/main/kotlin/com/example/api/domain/iam/model/account/AccountRepository.kt
  src/test/kotlin/com/example/api/domain/iam/model/account/AccountFixture.kt
  src/test/kotlin/com/example/api/domain/iam/model/account/AccountTest.kt
Due: ktlint-check

feat: iam に World 集約とリポジトリポートを追加する
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/iam/model/world/World.kt
  src/main/kotlin/com/example/api/domain/iam/model/world/WorldRepository.kt
  src/test/kotlin/com/example/api/domain/iam/model/world/WorldFixture.kt
  src/test/kotlin/com/example/api/domain/iam/model/world/WorldTest.kt
Due: ktlint-check

feat: Account の Spring Data JDBC 永続化アダプタを追加する
  src/main/kotlin/com/example/api/infrastructure/iam/account/AccountRow.kt
  src/main/kotlin/com/example/api/infrastructure/iam/account/AccountSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/account/JdbcAccountRepository.kt
  src/test/kotlin/com/example/api/infrastructure/iam/account/JdbcAccountRepositoryContractTest.kt
Due: ktlint-check

feat: World の永続化アダプタと読み取りポートを追加する
  src/main/kotlin/com/example/api/application/iam/world/WorldQueries.kt
  src/main/kotlin/com/example/api/application/iam/world/WorldView.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldQueries.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/WorldRow.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/WorldSpringDataRepository.kt
  src/test/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldRepositoryContractTest.kt
Due: ktlint-check

feat: 初回ログインでアカウントと最初の世界を用意する
  src/main/kotlin/com/example/api/application/iam/me/ProvisionMeUseCase.kt
  src/test/kotlin/com/example/api/application/iam/me/ProvisionMeUseCaseTest.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

feat: 世界の一覧・作成・改名・削除ユースケースを追加する
  src/main/kotlin/com/example/api/application/iam/world/CreateWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/DeleteWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/ListWorldsUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/RenameWorldUseCase.kt
  src/test/kotlin/com/example/api/application/iam/world/CreateWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/application/iam/world/DeleteWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/application/iam/world/RenameWorldUseCaseTest.kt
Due: ktlint-check

feat: JWT の sub から AccountId を解決してハンドラへ注入する
  src/main/kotlin/com/example/api/controller/CurrentAccount.kt
  src/main/kotlin/com/example/api/controller/CurrentAccountArgumentResolver.kt
  src/main/kotlin/com/example/api/controller/GlobalExceptionHandler.kt
  src/main/kotlin/com/example/api/controller/WebMvcConfig.kt
  src/test/kotlin/com/example/api/controller/CurrentAccountArgumentResolverTest.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/HelloControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
Due: ktlint-check

fix: supportsParameter が value class 消去で空振りする不具合を修正
  src/main/kotlin/com/example/api/controller/CurrentAccountArgumentResolver.kt
  src/test/kotlin/com/example/api/controller/CurrentAccountArgumentResolverIntegrationTest.kt
  src/test/kotlin/com/example/api/controller/CurrentAccountArgumentResolverTest.kt
Due: ktlint-check

feat: 世界の CRUD と初回セットアップの HTTP エンドポイントを追加する
  src/main/kotlin/com/example/api/ApiApplication.kt
  src/main/kotlin/com/example/api/controller/me/MeController.kt
  src/main/kotlin/com/example/api/controller/me/MeResponse.kt
  src/main/kotlin/com/example/api/controller/me/problem/MeProblem.kt
  src/main/kotlin/com/example/api/controller/world/WorldController.kt
  src/main/kotlin/com/example/api/controller/world/WorldResponse.kt
  src/main/kotlin/com/example/api/controller/world/problem/WorldProblem.kt
  src/main/kotlin/com/example/api/controller/world/request/CreateWorldRequest.kt
  src/main/kotlin/com/example/api/controller/world/request/RenameWorldRequest.kt
  src/test/kotlin/com/example/api/controller/world/WorldControllerTest.kt
Due: ktlint-check

test: 世界 API の E2E を追加する
  src/e2eTest/kotlin/com/example/api/e2e/WorldApiE2eTest.kt
Due: ktlint-check

test: 世界 API の E2E に自分視点の検証を追加する
  src/e2eTest/kotlin/com/example/api/e2e/WorldApiE2eTest.kt
Due: ktlint-check

docs: プレイヤーごとの世界によるテナント分離を ADR に記録する
  CLAUDE.md
  docs/adr/0042-defer-external-id-policy-keep-raw-uuid.md
  docs/adr/0067-per-player-world-tenant-isolation.md
  docs/adr/README.md
Due: none

fix: Identity Platform 設定の永久差分を止める
  infra/modules/identity-platform/main.tf
Due: terraform-fmt-check, terraform-validate

fix: 最終レビュー指摘（I-1/I-2/I-3/M-3/M-4）をまとめて修正する
  .claude/rules/testing.md
  src/main/kotlin/com/example/api/application/iam/me/ProvisionMeUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/CreateWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/RenameWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/WorldOwnership.kt
  src/main/kotlin/com/example/api/controller/me/problem/MeProblem.kt
  src/main/kotlin/com/example/api/domain/iam/model/world/WorldRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/WorldSpringDataRepository.kt
  src/test/kotlin/com/example/api/application/iam/world/CreateWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/application/iam/world/DeleteWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/application/iam/world/RenameWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/CurrentAccountArgumentResolverIntegrationTest.kt
  src/test/kotlin/com/example/api/controller/me/MeControllerTest.kt
  src/test/kotlin/com/example/api/controller/me/problem/MeProblemTest.kt
  src/test/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldRepositoryContractTest.kt
Due: ktlint-check

docs: hcp-run-inspect に plan の属性レベル差分の追い方を追記する
  .claude/skills/hcp-run-inspect/SKILL.md
Due: none

test: account-not-provisioned ハンドラの patch coverage を追加する
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
Due: ktlint-check

feat: #704 Actor と ActorArgumentResolver を先行導入する
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
  src/main/kotlin/com/example/api/controller/CurrentActor.kt
  src/main/kotlin/com/example/api/controller/WebMvcConfig.kt
  src/main/kotlin/com/example/api/domain/shared/Actor.kt
  src/test/kotlin/com/example/api/controller/ActorArgumentResolverTest.kt
  src/test/kotlin/com/example/api/controller/CurrentAccountArgumentResolverIntegrationTest.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/HelloControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
  src/test/kotlin/com/example/api/controller/me/MeControllerTest.kt
  src/test/kotlin/com/example/api/controller/world/WorldControllerTest.kt
Due: ktlint-check

test: #704 テスト用の世界を用意するヘルパーを基底クラスに足す
  src/test/kotlin/com/example/api/support/PostgresContainerSupport.kt
  src/test/kotlin/com/example/api/support/PostgresContainerSupportTest.kt
Due: ktlint-check

feat: #704 6 テーブルに world_id 列を nullable で追加する
  src/main/resources/db/migration/V18__add_world_id_to_domain_tables.sql
Due: none

fix: #704 Actor を OpenAPI のクエリパラメータとして公開しない
  src/main/kotlin/com/example/api/controller/breeding/BreedingRegistrationController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultSummaryController.kt
  src/main/kotlin/com/example/api/controller/breeding/CoveringReportController.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/inspection/HorseInspectionController.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyController.kt
Due: ktlint-check

feat: #705 世界の所有確認を読み取りポートに足す
  src/main/kotlin/com/example/api/application/iam/world/WorldQueries.kt
  src/main/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldQueries.kt
  src/test/kotlin/com/example/api/infrastructure/iam/world/JdbcWorldRepositoryContractTest.kt
Due: ktlint-check

chore: #694 postgresql JDBC ドライバの脆弱性 (GHSA-j92g-9f8w-j867) を解消する
  gradle/libs.versions.toml
Due: none

feat: #705 未所有・不在の世界を 404 world-not-found に写す
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
  src/main/kotlin/com/example/api/controller/GlobalExceptionHandler.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
Due: ktlint-check

feat: #705 軽種馬 API を世界スコープの下へ移す
  config/detekt/detekt.yml
  src/e2eTest/kotlin/com/example/api/e2e/BloodHorseApiE2eTest.kt
  src/e2eTest/kotlin/com/example/api/e2e/WorldScopeSupport.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/request/RegisterBloodHorseRequest.kt
  src/main/kotlin/com/example/api/controller/horse/request/RegisterCarriedOverHorseRequest.kt
  src/main/kotlin/com/example/api/controller/horse/request/RegisterHorseNameRequest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

feat: #705 繁殖系 API を世界スコープの下へ移す
  src/main/kotlin/com/example/api/controller/breeding/BreedingRegistrationController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultSummaryController.kt
  src/main/kotlin/com/example/api/controller/breeding/CoveringReportController.kt
  src/main/kotlin/com/example/api/controller/breeding/request/RecordBreedingResultRequest.kt
  src/main/kotlin/com/example/api/controller/breeding/request/RegisterBreedingRegistrationRequest.kt
  src/main/kotlin/com/example/api/controller/breeding/request/ReportFoalingRequest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
Due: ktlint-check

feat: #705 個体審査・騎手 API を世界スコープの下へ移す
  src/e2eTest/kotlin/com/example/api/e2e/HorseInspectionApiE2eTest.kt
  src/e2eTest/kotlin/com/example/api/e2e/JockeyApiE2eTest.kt
  src/main/kotlin/com/example/api/controller/inspection/HorseInspectionController.kt
  src/main/kotlin/com/example/api/controller/inspection/problem/HorseInspectionProblem.kt
  src/main/kotlin/com/example/api/controller/inspection/request/RecordHorseInspectionRequest.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyController.kt
  src/main/kotlin/com/example/api/controller/jockey/problem/JockeyProblem.kt
  src/main/kotlin/com/example/api/controller/jockey/request/RegisterJockeyRequest.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
Due: ktlint-check

feat: #705 Actor の世界をパスの {worldId} から所有確認して解決する
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
  src/test/kotlin/com/example/api/controller/ActorArgumentResolverTest.kt
  src/test/kotlin/com/example/api/controller/SecurityConfigTest.kt
Due: ktlint-check

feat: 作業の締めに Issue へ反映する issue-followup スキルを追加する
  .claude/skills/issue-followup/SKILL.md
  .claude/skills/issue-ops/SKILL.md
  CLAUDE.md
Due: none

docs: #705 pathWorldId の KDoc から 400 保証の暗黙前提を明記する
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
Due: ktlint-check

refactor: #705 WorldId を application 層の内側まで value class で通す
  src/main/kotlin/com/example/api/application/iam/world/DeleteWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/RenameWorldUseCase.kt
  src/main/kotlin/com/example/api/application/iam/world/WorldOwnership.kt
  src/main/kotlin/com/example/api/controller/world/WorldController.kt
  src/main/kotlin/com/example/api/controller/world/problem/WorldProblem.kt
  src/test/kotlin/com/example/api/application/iam/world/DeleteWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/application/iam/world/RenameWorldUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/world/WorldControllerTest.kt
Due: ktlint-check

chore: #383 テスト JVM の CDS を切って Kover agent 由来の VM 警告を消す
  build.gradle.kts
Due: none

test: #705 世界の分離を E2E で実測する
  src/e2eTest/kotlin/com/example/api/e2e/WorldScopeApiE2eTest.kt
Due: ktlint-check

fix: issue-followup の工程 4 に相互参照があるときの実行順序を足す
  .claude/skills/issue-followup/SKILL.md
Due: none

chore: tennis を Kover 成熟ゲートの対象へ昇格する
  .claude/rules/testing.md
  build.gradle.kts
Due: none

fix: #705 世界スコープ化レビュー指摘 6 件を修正する
  .claude/rules/api-design.md
  .claude/rules/error-handling.md
  .claude/skills/run-frontend/SKILL.md
  docs/adr/0067-per-player-world-tenant-isolation.md
  frontend/README.md
  src/e2eTest/kotlin/com/example/api/e2e/WorldScopeApiE2eTest.kt
  src/test/kotlin/com/example/api/controller/SecurityConfigTest.kt
Due: ktlint-check
