Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

lefthook.yml:

# Lefthook の設定ファイル
# pre-commit hook を使用してコード品質をコミット前に確保する

pre-commit:
  parallel: true
  commands:
    # EditorConfig準拠チェック
    editorconfig-check:
      run: ec
      tags: format

    # ktlint によるコードスタイルチェック
    ktlint-check:
      glob: "**/*.{kt,kts}"
      run: ./gradlew ktlintCheck --daemon
      tags: format lint

    # Terraform フォーマットチェック
    terraform-fmt-check:
      glob: "infra/*.tf"
      run: terraform fmt -check infra/
      tags: format

    # Terraform バリデーション
    terraform-validate:
      glob: "infra/*.tf"
      run: cd infra && terraform init -backend=false && terraform validate
      tags: lint

pre-push:
  commands:
    # プッシュ前に全体のテストを実行
    full-test:
      run: ./gradlew test
      tags: test

commit-msg:
  commands:
    # コミットメッセージのフォーマットチェック（オプション）
    commitizen-check:
      run: |
        if ! echo "$(head -n1 {1})" | grep -E "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" > /dev/null; then
          echo "コミットメッセージは conventional commit 形式で記述してください"
          echo "例: feat: 新機能を追加"
          echo "例: fix: バグを修正"
          echo "例: docs: ドキュメントを更新"
          exit 1
        fi
      tags: commit-msg

docs: SQL lint 導入を ADR-0032 と CLAUDE.md に記録
  CLAUDE.md
  docs/adr/0032-sql-lint-squawk-sqlfluff.md
  docs/adr/README.md
Due: none

docs: ADR-0032 の RF04 帰属誤りを修正
  docs/adr/0032-sql-lint-squawk-sqlfluff.md
Due: none

feat: 繁殖成績（BreedingResult）を Spring Data JDBC 実装へ移行し JDBC 一本化を完了する (#435)
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResult.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/BreedingResultRow.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/BreedingResultSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/InMemoryBreedingResultRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/main/resources/db/migration/V4__create_breeding_result.sql
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
Due: ktlint-check

build: mise から不要な pipx tool を削除し uv 駆動に一本化
  CLAUDE.md
  docs/adr/0032-sql-lint-squawk-sqlfluff.md
  mise.lock
  mise.toml
Due: none

chore: superpowers 出力（spec/plan）を git 管理から外す
  .gitignore
  docs/superpowers/plans/2026-06-26-sql-migration-lint.md
  docs/superpowers/specs/2026-06-26-sql-migration-lint-design.md
Due: none

docs: .squawk.toml の prefer-text-field 除外理由を正確化
  .squawk.toml
Due: none

refactor: ArchitectureTest を関心ごとに分割する (#428)
  .claude/rules/architecture.md
  .claude/rules/testing.md
  CLAUDE.md
  src/test/kotlin/com/example/api/architecture/AggregateNotDataClassRuleTest.kt
  src/test/kotlin/com/example/api/architecture/ArchSupport.kt
  src/test/kotlin/com/example/api/architecture/ArchitectureTest.kt
  src/test/kotlin/com/example/api/architecture/BoundedContextRulesTest.kt
  src/test/kotlin/com/example/api/architecture/ControllerContractRulesTest.kt
  src/test/kotlin/com/example/api/architecture/ControllerPackageLayoutRuleTest.kt
  src/test/kotlin/com/example/api/architecture/DomainModelingRulesTest.kt
  src/test/kotlin/com/example/api/architecture/DtoDomainEnumRuleTest.kt
  src/test/kotlin/com/example/api/architecture/GeneralCodingRulesTest.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
  src/test/kotlin/com/example/api/architecture/fixture/DataClassAggregateFixture.kt
  src/test/kotlin/com/example/api/controller/archfixture/DomainEnumFieldDtoFixture.kt
  src/test/kotlin/com/example/api/controller/archfixture/MisplacedProblem.kt
  src/test/kotlin/com/example/api/controller/archfixture/MisplacedRequest.kt
  src/test/kotlin/com/example/api/controller/archfixture/problem/Stray.kt
  src/test/kotlin/com/example/api/controller/archfixture/request/Stray.kt
Due: ktlint-check

feat: 繁殖成績年次集計の読み取りモデル BreedingResultSummaryView を追加 (#325)
  src/main/kotlin/com/example/api/application/studbook/breeding/BreedingResultSummaryView.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/BreedingResultSummaryViewTest.kt
Due: ktlint-check

feat: 繁殖成績年次集計のクエリポートと照会ユースケースを追加 (#325)
  src/main/kotlin/com/example/api/application/studbook/breeding/BreedingResultSummaryQueries.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/FindBreedingResultSummaryUseCase.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/FindBreedingResultSummaryUseCaseTest.kt
Due: ktlint-check

feat: 繁殖成績年次集計の Jdbc 集計実装と契約テストを追加 (#325)
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultSummaryQueries.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultSummaryQueriesContractTest.kt
Due: ktlint-check

feat: 繁殖成績年次集計の照会API（Controller/Response）を追加 (#325)
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultSummaryController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultSummaryResponse.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
Due: ktlint-check

docs: 繁殖成績年次集計の指標定義（受胎率・生産率）を用語集に追記 (#325)
  docs/ubiquitous-language.md
Due: none

fix: 最終レビュー指摘対応（暫定率の明記・桁あふれ防御・テスト補強） (#325)
  src/main/kotlin/com/example/api/application/studbook/breeding/BreedingResultSummaryView.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultSummaryController.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultSummaryQueries.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultSummaryQueriesContractTest.kt
Due: ktlint-check

docs: ADR-0033 本番 DB プロダクトの選定遅延を記録
  docs/adr/0033-defer-production-db-selection.md
  docs/adr/README.md
Due: none

refactor: BreedingResultSummaryView のコンストラクタを private 化し of ファクトリ経由に限定する (#325)
  src/main/kotlin/com/example/api/application/studbook/breeding/BreedingResultSummaryView.kt
Due: ktlint-check

feat: HCP Terraform 操作 CLI として tfctl を採用する (#286)
  CLAUDE.md
  docs/adr/0034-adopt-tfctl-cli.md
  docs/adr/README.md
  mise.lock
  mise.toml
Due: none

ci: ShellCheck でシェルスクリプトを lint する (#309)
  .claude/hooks/post-edit-terraform-fmt.sh
  .devcontainer/post-create.sh
  .github/workflows/shellcheck.yml
  CLAUDE.md
  lefthook.yml
  mise.lock
  mise.toml
Due: none

ci: ShellCheck ジョブの mise install を shellcheck だけにスコープする (#309)
  .github/workflows/shellcheck.yml
Due: none

fix: tfctl の mise.lock に Linux/macos-arm64 エントリを補完し ShellCheck CI の scoping を撤回する (#309)
  .github/workflows/shellcheck.yml
  mise.lock
Due: none

feat: Spring AI MCP server(WebMVC) を配線する (#287)
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/resources/application.yml
Due: none

feat: FindJockey を MCP ツール find_jockey として公開する (#287)
  src/main/kotlin/com/example/api/mcp/racing/jockey/JockeyMcpResult.kt
  src/main/kotlin/com/example/api/mcp/racing/jockey/JockeyMcpTools.kt
  src/test/kotlin/com/example/api/architecture/ArchSupport.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
  src/test/kotlin/com/example/api/mcp/racing/jockey/JockeyMcpToolsTest.kt
Due: ktlint-check

test: MCP server 配線確認の SpringBootTest を追加する (#287)
  src/test/kotlin/com/example/api/mcp/McpServerWiringTest.kt
Due: ktlint-check

docs: MCP インターフェースアダプタ採用を ADR/architecture.md に記録する (#287)
  .claude/rules/architecture.md
  docs/adr/0035-mcp-interface-adapter.md
  docs/adr/README.md
Due: none

fix: 最終レビュー指摘を修正（ADR-0035 参照の backfill / not-found テストのメッセージ完全一致化） (#287)
  build.gradle.kts
  src/test/kotlin/com/example/api/mcp/racing/jockey/JockeyMcpToolsTest.kt
Due: ktlint-check

feat: devcontainer firewall の許可ドメインリストを追加 (#304)
  .devcontainer/allowed-domains.txt
Due: none

feat: devcontainer egress firewall スクリプトを追加 (#304)
  .devcontainer/init-firewall.sh
  CLAUDE.md
Due: none

feat: devcontainer に firewall の capability と postStartCommand を配線 (#304)
  .devcontainer/devcontainer.json
Due: none

feat: devcontainer に firewall ツールチェーンの導入を追加 (#304)
  .devcontainer/post-create.sh
Due: none

docs: devcontainer README に egress firewall を追記 (#304)
  .devcontainer/README.md
Due: none

docs: ADR-0035 devcontainer egress firewall を追加 (#304)
  docs/adr/0035-devcontainer-egress-firewall.md
  docs/adr/README.md
Due: none

fix: devcontainer firewall の fail-open を解消し IPv6 対象外を明示 (#304)
  .devcontainer/README.md
  .devcontainer/init-firewall.sh
  .devcontainer/post-create.sh
  docs/adr/0035-devcontainer-egress-firewall.md
Due: none

feat: #463 ローカル作業用の最小権限 viewer SA を Terraform で定義
  infra/main.tf
  infra/modules/local-readonly/main.tf
  infra/modules/local-readonly/outputs.tf
  infra/modules/local-readonly/variables.tf
  infra/modules/local-readonly/versions.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

chore: ADR を 0036 に採番し直す（#287 が 0035 を取得したため） (#304)
  .devcontainer/README.md
  .devcontainer/init-firewall.sh
  docs/adr/0036-devcontainer-egress-firewall.md
  docs/adr/README.md
Due: none

docs: #463 GCP 操作ガードレールの決定を ADR-0036 に記録
  docs/adr/0036-gcp-operation-guardrails.md
  docs/adr/README.md
Due: none

docs: 坂道(sakamichi)ドメイン知識スキル sakamichi-sources を追加する (#406)
  .claude/skills/sakamichi-sources/SKILL.md
Due: none

docs: #463 GCP 操作ガードレールの運用ルールと CLAUDE.md ポインタを追加
  .claude/rules/gcp-guardrails.md
  CLAUDE.md
Due: none

feat: #463 Claude Code の GCP 操作ガードレールを permissions に追加
  .claude/settings.json
Due: none

fix: #463 最終レビュー指摘の permissions 穴を塞ぐ（破壊動詞・state 操作・env ランナー注記）
  .claude/rules/gcp-guardrails.md
  .claude/settings.json
  docs/adr/0036-gcp-operation-guardrails.md
Due: none

docs: #463 ガードレール 2 層の役割を非対称に整理（permissions=強制 / viewer SA=安全な既定+多層防御）
  .claude/rules/gcp-guardrails.md
  docs/adr/0036-gcp-operation-guardrails.md
Due: none

docs: tfctl で HCP の run/plan を確認するスキルを追加（hcp-run-inspect）
  .claude/skills/hcp-run-inspect/SKILL.md
Due: none
