Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

ktlint-check:
  run: ./gradlew ktlintCheck --daemon
  tags: format lint

terraform-fmt-check:
  run: terraform fmt -check infra/
  tags: format

terraform-validate:
  run: cd infra && terraform init -backend=false && terraform validate
  tags: lint

test: #687 breeding 系 3 リソースの API E2E を横展開する
  src/e2eTest/kotlin/com/example/api/e2e/BreedingE2eSupport.kt
  src/e2eTest/kotlin/com/example/api/e2e/BreedingRegistrationApiE2eTest.kt
  src/e2eTest/kotlin/com/example/api/e2e/BreedingResultApiE2eTest.kt
  src/e2eTest/kotlin/com/example/api/e2e/CoveringReportApiE2eTest.kt
Due: ktlint-check

refactor: #680 tennis のエラー型 TurnedProBeforeBirth を値オブジェクト保持に揃える
  src/main/kotlin/com/example/api/domain/tennis/model/player/Player.kt
  src/test/kotlin/com/example/api/domain/tennis/model/player/PlayerTest.kt
Due: ktlint-check

chore: #716 Dependabot に cooldown を設定して直後版を掴むリスクを下げる
  .github/dependabot.yml
Due: none

chore: #760 ktfmt 0.27.0 の整形方針変更に BreedingResultTest を追随させる
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResultTest.kt
Due: ktlint-check

fix: #769 issue-ops の候補一覧が limit 切り捨てで Issue を取りこぼすのを直す
  .claude/skills/issue-ops/SKILL.md
Due: none

chore: #396 onboarding を `mise bootstrap` 一本に統合する
  .github/workflows/copilot-setup-steps.yml
  CLAUDE.md
  README.md
  mise.toml
Due: none

chore: #759 Biome 2.x へ更新し biome.json を新スキーマへ移行する
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/me.ts
  frontend/src/api/worlds.ts
  frontend/src/auth/AuthContext.tsx
  frontend/src/styles.css
  frontend/src/worlds/useWorlds.ts
Due: none

fix: #748 MeController の OpenAPI から削除済みの 409 レスポンスを消す
  src/main/kotlin/com/example/api/controller/me/MeController.kt
Due: ktlint-check

feat: #652 登録番号（血統・繁殖）の一意性を世界スコープの二層防御で担保する
  dbdoc/studbook.blood_horse.md
  dbdoc/studbook.breeding_registration.md
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterCarriedOverHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingRegistrationProblem.kt
  src/main/kotlin/com/example/api/controller/horse/problem/BloodHorseProblem.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationNumberAlreadyTaken.kt
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseRepository.kt
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/PedigreeRegistrationNumberAlreadyTaken.kt
  src/main/kotlin/com/example/api/domain/studbook/service/breeding/EnsureBreedingRegistrationNumberAvailable.kt
  src/main/kotlin/com/example/api/domain/studbook/service/horse/EnsurePedigreeRegistrationNumberAvailable.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/BreedingRegistrationSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/BloodHorseSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepository.kt
  src/main/resources/db/migration/V22__add_registration_number_unique_backstop.sql
  src/replay/kotlin/com/example/api/replay/BreedingReplayTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterCarriedOverHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/domain/studbook/service/breeding/EnsureBreedingRegistrationNumberAvailableTest.kt
  src/test/kotlin/com/example/api/domain/studbook/service/horse/EnsurePedigreeRegistrationNumberAvailableTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/StudbookSeeder.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationQueriesContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

fix: #780 Stop hook の並行実行ガードが発火しない判定を直す
  .claude/hooks/stop-kotlin-quality.sh
Due: none

chore: #754 ArchUnit の domainIsFrameworkFree に Jackson 3 を加える
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

chore: #777 nanoid の high (GHSA-2v37-7h3g-55p8) を解消する
  frontend/package-lock.json
Due: none

feat: #700 プロジェクト全体の月次予算アラートを Terraform 化する
  infra/main.tf
  infra/modules/billing/main.tf
  infra/modules/billing/variables.tf
  infra/modules/billing/versions.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

docs: #700 課金ガードレールの二段構えを ADR-0074 に記録する
  docs/adr/0074-billing-guardrails-spend-cap-and-budget-alert.md
  docs/adr/README.md
Due: none

fix: #700 ADR から環境固有の識別子を落とし、閾値の役割分担を明文化する
  docs/adr/0074-billing-guardrails-spend-cap-and-budget-alert.md
  infra/main.tf
  infra/modules/billing/main.tf
Due: terraform-fmt-check, terraform-validate

chore: #766 エラー型が値オブジェクトを保持する流儀を明文化する
  .claude/rules/error-handling.md
  src/main/kotlin/com/example/api/domain/sakamichi/model/release/Tracklist.kt
  src/test/kotlin/com/example/api/domain/sakamichi/model/release/TracklistTest.kt
Due: ktlint-check

refactor: #700 billing モジュールの project_id を provider の project に委ねる
  infra/main.tf
  infra/modules/billing/main.tf
  infra/modules/billing/variables.tf
Due: terraform-fmt-check, terraform-validate

chore: #758 MCP ツールの引数に @McpToolParam の説明を付ける
  .claude/rules/architecture.md
  src/main/kotlin/com/example/api/mcp/racing/jockey/JockeyMcpTools.kt
  src/test/kotlin/com/example/api/mcp/McpServerWiringTest.kt
Due: ktlint-check

docs: #700 既存の手設定 budget（¥500）の存在と役割分担を ADR-0074 に追記する
  docs/adr/0074-billing-guardrails-spend-cap-and-budget-alert.md
Due: none

docs: #700 spend cap 設定後に判明した挙動を ADR-0074 に反映する
  docs/adr/0074-billing-guardrails-spend-cap-and-budget-alert.md
Due: none

chore: #788 biome.json の $schema を node_modules 内のスキーマ参照へ切り替える
  frontend/README.md
  frontend/biome.json
Due: none

chore: #800 #793 pre-commit の glob と terraform fmt が CI とズレて見逃す穴を塞ぐ
  lefthook.yml
Due: none

docs: #797 GCP プロジェクト ID を秘匿対象にしない判断を ADR-0075 に残す
  .claude/rules/gcp-guardrails.md
  docs/adr/0075-gcp-project-id-not-a-secret.md
  docs/adr/README.md
Due: none

docs: #765 #687 で判明した規約知見を .claude/rules へ書き戻す
  .claude/rules/api-design.md
  .claude/rules/testing.md
Due: none

chore: #725 Firebase Auth Emulator をローカルで起動できるようにする
  frontend/.env.e2e
  frontend/firebase.json
  frontend/package-lock.json
  frontend/package.json
Due: none

test: #725 Emulator の未署名 ID トークンを受理する JwtDecoder を追加する
  src/test/kotlin/com/example/api/support/EmulatorJwtDecoderTest.kt
  src/test/kotlin/com/example/api/support/EmulatorJwtSupport.kt
Due: ktlint-check

docs: #776 copilot-instructions のツール導入手順と実態の乖離を解消する
  .github/copilot-instructions.md
Due: none

fix: #725 期限切れトークンのテストが validator を通っていない不備を修正する
  src/test/kotlin/com/example/api/support/EmulatorJwtDecoderTest.kt
  src/test/kotlin/com/example/api/support/EmulatorJwtSupport.kt
Due: ktlint-check

test: #725 bootTestRun 用のアプリ起動クラスを追加する
  .gitignore
  src/test/kotlin/com/example/api/BrowserE2eApplication.kt
Due: ktlint-check

docs: #725 bootTestRun 起動クラスの KDoc に GCP_PROJECT_ID の必須性を明記する
  src/test/kotlin/com/example/api/BrowserE2eApplication.kt
Due: ktlint-check

feat: #725 フロントを Auth Emulator へ向けられるようにする
  frontend/src/auth/firebase.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: none

test: #725 ログインから馬一覧までのブラウザ E2E を 1 本追加する
  compose.yaml
  frontend/.gitignore
  frontend/biome.json
  frontend/e2e/emulator.ts
  frontend/e2e/login-to-blood-horses.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vite.config.ts
Due: none

chore: #749 WorldsPage の粗さ（二重送信・空名・リンク表示・useParams の型）を直す
  frontend/src/App.test.tsx
  frontend/src/pages/BloodHorseListPage.test.tsx
  frontend/src/pages/BloodHorseListPage.tsx
  frontend/src/pages/WorldsPage.test.tsx
  frontend/src/pages/WorldsPage.tsx
  frontend/src/styles.css
  frontend/src/worlds/useWorlds.test.ts
  frontend/src/worlds/useWorlds.ts
Due: none

fix: #725 ブラウザ E2E のレビュー指摘（コメントの矛盾・待ち時間・セレクタ・healthcheck）を直す
  compose.yaml
  frontend/e2e/login-to-blood-horses.spec.ts
  frontend/playwright.config.ts
Due: none

ci: #725 ブラウザ E2E のワークフローを追加する
  .github/workflows/browser-e2e.yml
  frontend/playwright.config.ts
Due: none

docs: #725 ブラウザ E2E の規約と手順を書き戻す
  .claude/rules/testing.md
  .claude/skills/run-frontend/SKILL.md
Due: none

docs: #725 run-frontend スキルの陳腐化した API パス表記を直す
  .claude/skills/run-frontend/SKILL.md
Due: none

chore: #809 vitest のモック状態がテスト間で漏れないよう設定で締める
  frontend/src/api/client.test.ts
  frontend/src/api/me.test.ts
  frontend/src/api/worlds.test.ts
  frontend/src/auth/AuthContext.test.tsx
  frontend/src/pages/BloodHorseListPage.test.tsx
  frontend/src/pages/WorldsPage.test.tsx
  frontend/vite.config.ts
Due: none

fix: #725 e2e/ と playwright.config.ts を型検査の対象に入れる
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

fix: #725 最終レビューの指摘（未検査のアサート・レシピ・fixture・設定の二重化）を直す
  .gitignore
  frontend/.gitignore
  frontend/e2e/login-to-blood-horses.spec.ts
  frontend/playwright.config.ts
  src/test/kotlin/com/example/api/BrowserE2eApplication.kt
  src/test/kotlin/com/example/api/support/EmulatorJwtSupport.kt
Due: ktlint-check

Path conditions:
  ktlint-check: any of: **/*.{kt,kts}
  terraform-fmt-check: any of: infra/*.tf
  terraform-validate: any of: infra/*.tf
