Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

ktlint-check:
  run: ./gradlew ktlintCheck --daemon
  tags: format lint

terraform-fmt-check:
  run: terraform fmt -check infra/
  tags: format

terraform-validate:
  run: cd infra && terraform init -backend=false && terraform validate
  tags: lint

test: #606 iam の権限マスタ契約テストをロール別割当まで検証する
  src/test/kotlin/com/example/api/infrastructure/iam/IamMasterDataTest.kt
Due: ktlint-check

feat: #606 iam の永続化アダプタ（Spring Data JDBC）を実装する
  src/main/kotlin/com/example/api/domain/iam/model/account/AccountRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/account/AccountRow.kt
  src/main/kotlin/com/example/api/infrastructure/iam/account/AccountSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/iam/account/JdbcAccountRepository.kt
  src/test/kotlin/com/example/api/infrastructure/iam/account/JdbcAccountRepositoryTest.kt
  src/test/kotlin/com/example/api/support/IamTables.kt
Due: ktlint-check

feat: #606 subject から Actor を組み立てるユースケースを追加する
  src/main/kotlin/com/example/api/application/iam/account/ResolveActorUseCase.kt
  src/test/kotlin/com/example/api/application/iam/account/ResolveActorUseCaseTest.kt
Due: ktlint-check

docs: #620 フィクスチャに違反ケースを置かない旨を README に明記する
  src/replay/resources/fixtures/README.md
Due: none

refactor: #606 ResolveActorUseCase の入力を Command 封筒から Query 形へ直す
  src/main/kotlin/com/example/api/application/iam/account/ResolveActorUseCase.kt
  src/test/kotlin/com/example/api/application/iam/account/ResolveActorUseCaseTest.kt
Due: ktlint-check

feat: #606 JWT の sub から Actor を注入する ArgumentResolver を追加する
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
  src/main/kotlin/com/example/api/controller/WebMvcConfig.kt
  src/main/kotlin/com/example/api/controller/problem/AuthorizationProblem.kt
  src/test/kotlin/com/example/api/controller/ActorArgumentResolverTest.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/HelloControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultSummaryControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
Due: ktlint-check

feat: #606 studbook の書き込みユースケースにロール認可を敷く
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitCoveringReportUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingRegistrationController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/CoveringReportController.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingRegistrationProblem.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingResultProblem.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/CoveringReportProblem.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/problem/BloodHorseProblem.kt
  src/main/kotlin/com/example/api/controller/inspection/HorseInspectionController.kt
  src/main/kotlin/com/example/api/controller/inspection/problem/HorseInspectionProblem.kt
  src/replay/kotlin/com/example/api/replay/ReplayEngine.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/SubmitCoveringReportUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCasePublishAfterCommitTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
Due: ktlint-check

refactor: #606 slice テストの seed Actor を TestActors に集約する
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/support/TestActors.kt
Due: ktlint-check

fix: #606 未認証で Actor を解決しようとしたら fail-loud で 500 にする
  src/main/kotlin/com/example/api/controller/ActorArgumentResolver.kt
  src/test/kotlin/com/example/api/controller/ActorArgumentResolverTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
  src/test/kotlin/com/example/api/support/TestSecurityContext.kt
Due: ktlint-check

feat: #606 ジョッキー登録ユースケースにロール認可を敷く
  src/main/kotlin/com/example/api/application/racing/jockey/JockeyRegistrationUseCase.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyController.kt
  src/main/kotlin/com/example/api/controller/jockey/problem/JockeyProblem.kt
  src/test/kotlin/com/example/api/application/racing/jockey/JockeyRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
  src/test/kotlin/com/example/api/support/TestActors.kt
Due: ktlint-check

test: #606 認可の 403 経路を E2E で実測し 403 の funnel を確定する
  src/e2eTest/kotlin/com/example/api/e2e/AuthorizationE2eTest.kt
  src/e2eTest/kotlin/com/example/api/e2e/JockeyApiE2eTest.kt
  src/main/kotlin/com/example/api/controller/SecurityConfig.kt
  src/test/kotlin/com/example/api/support/RacingTables.kt
Due: ktlint-check

docs: #606 認可の設計判断を ADR に記録し、指示ファイルを更新する
  .claude/rules/architecture.md
  .claude/rules/error-handling.md
  CLAUDE.md
  docs/adr/0064-authn-via-identity-platform-authz-in-app.md
  docs/adr/0067-authorization-actor-in-shared-kernel.md
  docs/adr/README.md
Due: none

feat: #652 血統登録番号の一意性照合ポート existsByRegistrationNumber を足す
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/BloodHorseSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepository.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

feat: #652 血統登録番号の一意性を検証するドメインサービスを足す
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/PedigreeRegistrationNumberAlreadyTaken.kt
  src/main/kotlin/com/example/api/domain/studbook/service/horse/EnsurePedigreeRegistrationNumberAvailable.kt
  src/test/kotlin/com/example/api/domain/studbook/service/horse/EnsurePedigreeRegistrationNumberAvailableTest.kt
Due: ktlint-check

feat: #652 血統登録3経路に登録番号の一意性検証を配線する
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/controller/horse/problem/BloodHorseProblem.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCaseTest.kt
Due: ktlint-check

test: #652 血統登録番号の重複を 409 Conflict に描画する
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

feat: #652 繁殖登録番号の一意性照合ポート existsByRegistrationNumber を足す
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/BreedingRegistrationSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepository.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
Due: ktlint-check

feat: #652 繁殖登録番号の一意性を検証するドメインサービスを足す
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingRegistrationNumberAlreadyTaken.kt
  src/main/kotlin/com/example/api/domain/studbook/service/breeding/EnsureBreedingRegistrationNumberAvailable.kt
  src/test/kotlin/com/example/api/domain/studbook/service/breeding/EnsureBreedingRegistrationNumberAvailableTest.kt
Due: ktlint-check

feat: #652 繁殖登録に登録番号の一意性検証を配線する
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingRegistrationProblem.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCaseTest.kt
Due: ktlint-check

test: #652 繁殖登録番号の重複を 409 Conflict に描画する
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
Due: ktlint-check

test: #652 テスト Fixture/Seeder の登録番号を一意採番化する
  src/test/kotlin/com/example/api/domain/studbook/model/horse/bloodhorse/BloodHorseFixture.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/StudbookSeeder.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

feat: #652 登録番号の UNIQUE backstop（V16）を張り二重insertを DB で拒否する
  src/main/resources/db/migration/V16__add_registration_number_unique_backstop.sql
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

docs: #652 登録番号の一意性と2採番空間を用語集に追記する
  docs/ubiquitous-language.md
Due: none

test: #652 409 レスポンスの registration_number 拡張プロパティを検証する
  src/test/kotlin/com/example/api/controller/breeding/BreedingRegistrationControllerTest.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

feat: 軽種馬一覧の読み取り経路（軽量CQRS Query）を新設する
  src/main/kotlin/com/example/api/application/studbook/horse/BloodHorseQueries.kt
  src/main/kotlin/com/example/api/application/studbook/horse/BloodHorseView.kt
  src/main/kotlin/com/example/api/application/studbook/horse/FindBloodHorsesUseCase.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseQueries.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/StudbookSeeder.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseQueriesContractTest.kt
Due: ktlint-check

feat: 軽種馬一覧エンドポイント GET /api/bloodHorses を追加する
  src/main/kotlin/com/example/api/controller/horse/BloodHorseController.kt
  src/main/kotlin/com/example/api/controller/horse/BloodHorseSummaryResponse.kt
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

feat: フロント scaffold（Vite+React+TS+Biome）を frontend/ に新設する
  .gitignore
  frontend/.env.example
  frontend/biome.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/test/setup.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  mise.lock
  mise.toml
Due: none

feat: 保護API用のfetchラッパ（Bearer付与・problem+json解釈）を追加する
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/problem.ts
Due: none

test: problem+json レスポンスの内容反映を検証する
  frontend/src/api/client.test.ts
Due: none

feat: Firebase Auth 連携（初期化・AuthContext）を追加する
  frontend/src/auth/AuthContext.test.tsx
  frontend/src/auth/AuthContext.tsx
  frontend/src/auth/firebase.ts
  frontend/src/vite-env.d.ts
Due: none

feat: ログイン・馬一覧画面と認証ガードを追加する
  frontend/src/App.tsx
  frontend/src/pages/BloodHorseListPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RequireAuth.test.tsx
  frontend/src/pages/RequireAuth.tsx
Due: none

fix: 馬一覧の再フェッチ成功時に前回エラー表示を消す
  frontend/src/pages/BloodHorseListPage.test.tsx
  frontend/src/pages/BloodHorseListPage.tsx
Due: none

ci: frontend の lint/build/test を CI と pre-commit でゲートする
  .github/workflows/frontend.yml
  lefthook.yml
Due: none

test: 馬一覧テストのenumモック値をバックの実wire値に合わせる
  frontend/src/pages/BloodHorseListPage.test.tsx
Due: none

docs: #612 フロント起動手順を README と run-frontend スキルに記載する
  .claude/skills/run-frontend/SKILL.md
  frontend/README.md
Due: none

feat: Identity Platform を Terraform で管理する（email/password 有効化）
  infra/main.tf
  infra/modules/identity-platform/main.tf
  infra/modules/identity-platform/outputs.tf
  infra/modules/identity-platform/variables.tf
  infra/modules/identity-platform/versions.tf
Due: terraform-fmt-check, terraform-validate

docs: Identity Platform の Terraform 化を ADR-0064 に反映する
  docs/adr/0064-authn-via-identity-platform-authz-in-app.md
Due: none

refactor: #621 分娩区分名の写像を compile-time exhaustive 化する
  src/replay/kotlin/com/example/api/replay/FixtureMappers.kt
  src/replay/kotlin/com/example/api/replay/fixture/FixtureMappersTest.kt
Due: ktlint-check

docs: deletion_policy の実測根拠と Terraform source-of-truth 注意を明記する
  docs/adr/0064-authn-via-identity-platform-authz-in-app.md
  infra/modules/identity-platform/main.tf
Due: terraform-fmt-check, terraform-validate

docs: ADR-0068 infra apply を手動承認 + 通知にする決定を記録する
  docs/adr/0068-manual-infra-apply-with-notification.md
  docs/adr/README.md
Due: none

Path conditions:
  ktlint-check: any of: **/*.{kt,kts}
  terraform-fmt-check: any of: infra/*.tf
  terraform-validate: any of: infra/*.tf
