Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

lefthook.yml:

# Lefthook の設定ファイル
# pre-commit hook を使用してコード品質をコミット前に確保する

pre-commit:
  parallel: true
  commands:
    # EditorConfig準拠チェック
    editorconfig-check:
      run: ec
      tags: format

    # ktlint によるコードスタイルチェック
    ktlint-check:
      glob: "**/*.{kt,kts}"
      run: ./gradlew ktlintCheck --daemon
      tags: format lint

    # Terraform フォーマットチェック
    terraform-fmt-check:
      glob: "infra/*.tf"
      run: terraform fmt -check infra/
      tags: format

    # Terraform バリデーション
    terraform-validate:
      glob: "infra/*.tf"
      run: cd infra && terraform init -backend=false && terraform validate
      tags: lint

pre-push:
  commands:
    # プッシュ前に全体のテストを実行
    full-test:
      run: ./gradlew test
      tags: test

commit-msg:
  commands:
    # コミットメッセージのフォーマットチェック（オプション）
    commitizen-check:
      run: |
        if ! echo "$(head -n1 {1})" | grep -E "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}" > /dev/null; then
          echo "コミットメッセージは conventional commit 形式で記述してください"
          echo "例: feat: 新機能を追加"
          echo "例: fix: バグを修正"
          echo "例: docs: ドキュメントを更新"
          exit 1
        fi
      tags: commit-msg

fix: API Testsワークフローのpathsフィルターをjob内変更検知に変更
  .github/workflows/api-tests.yml
  infra/main.tf
Due: terraform-fmt-check, terraform-validate

refactor: 空のTerraformファイルを削除しlocalsを使用箇所に配置
  infra/locals.tf
  infra/outputs.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

fix: paths-filterにpull-requests権限を追加しRuleset更新
  .github/workflows/api-tests.yml
Due: none

refactor: api_servicesリストをインライン化しlocalsブロックを削除
  infra/main.tf
Due: terraform-fmt-check, terraform-validate

fix: API Testsを元の1ジョブ構成に戻しpathsフィルターを削除
  .github/workflows/api-tests.yml
Due: none

refactor: Javaバージョンを.java-versionファイルで一元管理
  .github/workflows/api-tests.yml
  .java-version
  mise.toml
Due: none

feat: Cloud RunデプロイのためのTerraformインフラを構築
  infra/main.tf
  infra/modules/cicd/main.tf
  infra/modules/cicd/outputs.tf
  infra/modules/cicd/variables.tf
  infra/modules/cloudrun/main.tf
  infra/modules/cloudrun/outputs.tf
  infra/modules/cloudrun/variables.tf
  infra/variables.tf
Due: terraform-fmt-check, terraform-validate

feat: Cloud RunデプロイのCI/CDパイプラインを構築
  .github/workflows/deploy.yml
  src/main/resources/application.yml
Due: none

docs: CLAUDE.mdにインフラストラクチャセクションを追加
  CLAUDE.md
Due: none

feat: 組織ポリシーのレガシー→マネージド移行とmovedブロック削除
  infra/main.tf
Due: terraform-fmt-check, terraform-validate

fix: cicdモジュールにorg policy依存を追加して実行順序を保証
  infra/main.tf
Due: terraform-fmt-check, terraform-validate

fix: 組織ポリシーをTerraform管理から除外
  infra/main.tf
Due: terraform-fmt-check, terraform-validate

fix: WIFプールを組織内プロジェクト(pt-workload-identity)に変更
  infra/modules/cicd/main.tf
Due: terraform-fmt-check, terraform-validate

fix: デプロイワークフローのWIFプロバイダを組織内プールに変更
  .github/workflows/deploy.yml
Due: none

docs: CLAUDE.md の不正確な記載を修正
  CLAUDE.md
Due: none

feat: CodeQL セキュリティ分析ワークフローを追加
  .github/workflows/codeql.yml
Due: none

fix: CodeQL ワークフローを v4 にアップグレードし権限を修正
  .github/workflows/codeql.yml
Due: none

chore: Claude Code 用の SessionStart hook を追加
  .claude/hooks/session-start-mise.sh
  .claude/settings.json
  .gitignore
Due: none

chore(infra): deployer SA の WIF binding を production environment に限定
  infra/modules/cicd/main.tf
  infra/modules/cicd/variables.tf
Due: terraform-fmt-check, terraform-validate

chore: PR テンプレートを軽量な3セクション構成に変更
  .github/pull_request_template.md
Due: none

fix: hook で CLAUDE_ENV_FILE 未設定時のエラーを防ぐ
  .claude/hooks/session-start-mise.sh
Due: none

docs(infra): WIF binding のコメントを deploy_environment 変数に追従させる
  infra/modules/cicd/main.tf
Due: terraform-fmt-check, terraform-validate

fix(ci): deploy.yml の paths-ignore でサブディレクトリの Markdown も対象にする
  .github/workflows/deploy.yml
Due: none

docs: CLAUDE.md の mise 説明を SessionStart hook 導入後の現状に合わせて更新
  CLAUDE.md
Due: none

docs: mise 自体のインストールが前提条件である旨を明記
  CLAUDE.md
Due: none

refactor: Spring WebFlux から MVC + Virtual Thread へ移行
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/com/example/api/ApiApplication.kt
  src/main/kotlin/com/example/api/config/RouterConfig.kt
  src/main/kotlin/com/example/api/controller/HelloController.kt
  src/main/resources/application.yml
  src/test/kotlin/com/example/api/OpenApiTest.kt
  src/test/kotlin/com/example/api/actuator/HealthEndpointTest.kt
  src/test/kotlin/com/example/api/controller/HelloControllerTest.kt
Due: ktlint-check

docs: CLAUDE.md を MVC + Virtual Thread 構成に追従
  CLAUDE.md
Due: none

chore: SessionStart hook で worktree の mise.toml を自動 trust
  .claude/hooks/session-start-mise.sh
Due: none

fix: SessionStart hook の mise trust 対象を repo 直下の mise.toml に限定
  .claude/hooks/session-start-mise.sh
Due: none

fix: Cloud Run のメモリ設定を 1Gi に増やし cpu-boost を有効化
  .github/workflows/deploy.yml
Due: none

chore: コンテナ起動を PR 段階で検証する smoke test を追加
  .github/workflows/container-smoke-test.yml
Due: none

docs: メモリ単位の表記ゆれに対する注意書きを両 workflow に追記
  .github/workflows/container-smoke-test.yml
  .github/workflows/deploy.yml
Due: none

feat: ktlint を ktfmt に置き換える
  .github/workflows/api-tests.yml
  .github/workflows/codeql.yml
  CLAUDE.md
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  lefthook.yml
  mise.toml
  src/main/kotlin/com/example/api/ApiApplication.kt
  src/main/kotlin/com/example/api/controller/HelloController.kt
  src/main/kotlin/com/example/api/domain/Command.kt
  src/main/kotlin/com/example/api/domain/horseracing/breeding/Breeding.kt
  src/main/kotlin/com/example/api/domain/horseracing/horse/bloodhorse/BloodHorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/horse/bloodhorse/RegisterInStudBook.kt
  src/main/kotlin/com/example/api/domain/horseracing/horse/racehorse/Racehorse.kt
  src/main/kotlin/com/example/api/domain/horseracing/horse/stallion/Stallion.kt
  src/main/kotlin/com/example/api/domain/horseracing/jockey/Jockey.kt
  src/main/kotlin/com/example/api/domain/horseracing/race/ConfirmResult.kt
  src/main/kotlin/com/example/api/domain/horseracing/race/Race.kt
  src/main/kotlin/com/example/api/domain/sakamichi/Member.kt
  src/main/kotlin/com/example/api/domain/tennis/Player.kt
  src/test/kotlin/com/example/api/ApiApplicationTests.kt
  src/test/kotlin/com/example/api/OpenApiTest.kt
  src/test/kotlin/com/example/api/actuator/HealthEndpointTest.kt
  src/test/kotlin/com/example/api/controller/HelloControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/jockey/JockeyTest.kt
Due: ktlint-check

feat: detekt を導入して静的解析を強化する
  .github/workflows/api-tests.yml
  .github/workflows/codeql.yml
  CLAUDE.md
  README.md
  build.gradle.kts
  config/detekt/detekt.yml
  gradle/libs.versions.toml
  lefthook.yml
  settings.gradle.kts
Due: none

style: ktfmt 公式に合わせて .editorconfig に Kotlin 設定を追加
  .editorconfig
Due: none

chore: Stop hook で ktfmt と detekt を自動実行
  .claude/settings.json
Due: none

feat: Claude Code hooks に pre-commit 相当のチェック群を追加
  .claude/hooks/post-edit-editorconfig.sh
  .claude/hooks/post-edit-terraform-fmt.sh
  .claude/hooks/stop-gradle-test.sh
  .claude/hooks/stop-terraform-validate.sh
  .claude/settings.json
Due: none

feat: kotlin-result を導入してドメイン/アプリケーション層のエラーを型化
  .claude/rules/api-design.md
  .claude/rules/error-handling.md
  CLAUDE.md
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/com/example/api/application/horseracing/jockey/JockeyRegistrationUseCase.kt
  src/main/kotlin/com/example/api/controller/jockey/JockeyController.kt
  src/main/kotlin/com/example/api/controller/jockey/RegisterJockeyRequest.kt
  src/main/kotlin/com/example/api/controller/jockey/RegisterJockeyResponse.kt
  src/main/kotlin/com/example/api/domain/horseracing/jockey/Jockey.kt
  src/main/kotlin/com/example/api/domain/horseracing/jockey/JockeyRepository.kt
  src/main/kotlin/com/example/api/domain/horseracing/race/ConfirmResult.kt
  src/main/kotlin/com/example/api/infrastructure/horseracing/jockey/InMemoryJockeyRepository.kt
  src/test/kotlin/com/example/api/application/horseracing/jockey/JockeyRegistrationUseCaseTest.kt
  src/test/kotlin/com/example/api/controller/jockey/JockeyControllerTest.kt
  src/test/kotlin/com/example/api/domain/horseracing/jockey/JockeyTest.kt
Due: ktlint-check

feat: 横断的例外ハンドラを追加し標準例外を RFC 9457 形式に統一
  src/main/kotlin/com/example/api/controller/GlobalExceptionHandler.kt
  src/main/resources/application.yml
  src/test/kotlin/com/example/api/controller/GlobalExceptionHandlerTest.kt
Due: ktlint-check

chore: pre-commit に gitleaks によるシークレットスキャンを追加
  lefthook.yml
Due: none
