Repository ptiringo/toy-box: changes, and which lefthook commands are due for each by the changed paths.
All: ktlint-check, terraform-fmt-check, terraform-validate

ktlint-check:
  run: ./gradlew ktlintCheck --daemon
  tags: format lint

terraform-fmt-check:
  run: terraform fmt -check infra/
  tags: format

terraform-validate:
  run: cd infra && terraform init -backend=false && terraform validate
  tags: lint

docs: 楽観ロックを集約 version 保持 + save 一本化方式へ転換した決定を ADR-0047 に記録する (#424)
  docs/adr/0027-persistence-spring-data-jdbc.md
  docs/adr/0047-aggregate-version-for-optimistic-locking.md
  docs/adr/0047-versioned-envelope-for-optimistic-locking.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/domain/shared/UpdateConflict.kt
  src/main/kotlin/com/example/api/domain/shared/Versioned.kt
  src/main/kotlin/com/example/api/infrastructure/racing/jockey/JdbcJockeyRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/inspection/JdbcHorseInspectionRepository.kt
  src/test/kotlin/com/example/api/domain/shared/VersionedTest.kt
Due: ktlint-check

feat: 審査の読み取り経路（View・Queries ポート・照会ユースケース）を追加する(#484)
  src/main/kotlin/com/example/api/application/studbook/inspection/FindHorseInspectionUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/inspection/HorseInspectionQueries.kt
  src/main/kotlin/com/example/api/application/studbook/inspection/HorseInspectionView.kt
  src/test/kotlin/com/example/api/application/studbook/inspection/FindHorseInspectionUseCaseTest.kt
Due: ktlint-check

docs: ADR-0027 の Decision 節の version sub-decision に ADR-0047 の上書きマーカーを追記する (#424)
  docs/adr/0027-persistence-spring-data-jdbc.md
Due: none

feat: 審査の読み取り経路の JDBC 実装と判別子マッパーの共有化を行う(#484)
  src/main/kotlin/com/example/api/infrastructure/studbook/inspection/HorseInspectionColumnMapping.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/inspection/JdbcHorseInspectionQueries.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/inspection/JdbcHorseInspectionRepository.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/inspection/JdbcHorseInspectionQueriesContractTest.kt
Due: ktlint-check

feat: 審査を単独で記録するユースケースを追加する(#484)
  src/main/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCase.kt
  src/test/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCaseTest.kt
Due: ktlint-check

feat: 審査リソースの Create/Get エンドポイントを配線する(#484)
  src/main/kotlin/com/example/api/controller/horse/BloodHorseWireEnums.kt
  src/main/kotlin/com/example/api/controller/inspection/HorseInspectionController.kt
  src/main/kotlin/com/example/api/controller/inspection/HorseInspectionResponse.kt
  src/main/kotlin/com/example/api/controller/inspection/IdentificationFeaturesDto.kt
  src/main/kotlin/com/example/api/controller/inspection/ParentageDeterminationDto.kt
  src/main/kotlin/com/example/api/controller/inspection/problem/HorseInspectionProblem.kt
  src/main/kotlin/com/example/api/controller/inspection/request/RecordHorseInspectionRequest.kt
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
Due: ktlint-check

test: 馬名登録の審査欠落（InspectionNotFound→422）の slice テストを追加する(#484)
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

test: 審査欠落 422 テストに inspection_id 拡張プロパティの検証を追補する(#484)
  src/test/kotlin/com/example/api/controller/horse/BloodHorseControllerTest.kt
Due: ktlint-check

test: 審査 Get 404 テストに inspection_id 拡張プロパティの検証を追補する(#484)
  src/test/kotlin/com/example/api/controller/inspection/HorseInspectionControllerTest.kt
Due: ktlint-check

chore: 永続化 spike の暫定依存を version catalog へ移管する(#425)
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

feat: ドメインイベント発行基盤を配線する（ApplicationEventPublisher + publish-after-commit）(#433)
  .claude/rules/architecture.md
  CLAUDE.md
  docs/adr/0050-domain-event-publication-after-commit.md
  docs/adr/README.md
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/domain/shared/StateTransition.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/event/HorseNamedLoggingListener.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCasePublishAfterCommitTest.kt
  src/test/kotlin/com/example/api/application/studbook/horse/NameHorseUseCaseTest.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

test: 血統登録の 2 集約書き込みロールバックを検証する統合テストを追加する(#483)
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
Due: ktlint-check

test: application 層の Spring 依存許可へ transaction.annotation を限定追加する(#483)
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

feat: 書き込みユースケースへ @Transactional のトランザクション境界を付与する(#483)
  src/main/kotlin/com/example/api/application/racing/jockey/JockeyRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordUncoveredUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCase.kt
Due: ktlint-check

test: 並行削除の楽観ロック契約テストを BreedingRegistration / BloodHorse にも展開する(#529)
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingRegistrationRepositoryContractTest.kt
  src/test/kotlin/com/example/api/infrastructure/studbook/horse/JdbcBloodHorseRepositoryContractTest.kt
Due: ktlint-check

test: Command を受ける invoke へ @Transactional を強制する ArchUnit ガードを追加する(#483)
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

feat: 繁殖成績報告の提出期限 VO を追加する(#455)
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingReportDeadline.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingReportDeadlineTest.kt
Due: ktlint-check

docs: application 層の Spring 依存許可とトランザクション境界規約を architecture.md へ反映する(#483)
  .claude/rules/architecture.md
Due: none

feat: 繁殖成績報告の年次提出を BreedingResult のライフサイクルに追加する(#455)
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResult.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingResultSubmitReportTest.kt
Due: ktlint-check

docs: トランザクション境界を @Transactional で置く決定を ADR-0051 に記録する(#483)
  .claude/rules/architecture.md
  docs/adr/0051-transactional-use-case-boundary.md
  docs/adr/README.md
Due: none

feat: 繁殖成績報告提出ユースケースを追加する(#455)
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCase.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCaseTest.kt
Due: ktlint-check

docs: ADR-0051 の #433 参照を実装済みの ADR-0050 へ更新する(#483)
  docs/adr/0051-transactional-use-case-boundary.md
Due: none

feat: 繁殖成績報告の提出日を永続化する(#455)
  dbdoc/README.md
  dbdoc/public.breeding_result.md
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/BreedingResultRow.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepository.kt
  src/main/resources/db/migration/V8__add_breeding_result_report_submission.sql
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcBreedingResultRepositoryContractTest.kt
Due: ktlint-check

feat: 繁殖成績報告の提出エンドポイントを配線する(#455)
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/BreedingResultProblem.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
Due: ktlint-check

refactor: 最終レビュー指摘を修正する（@Transactional 二重付与解消・KDoc 整合）(#483)
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/inspection/RecordHorseInspectionUseCase.kt
  src/test/kotlin/com/example/api/application/studbook/horse/RegisterHorseTransactionRollbackTest.kt
  src/test/kotlin/com/example/api/architecture/OnionLayerRulesTest.kt
Due: ktlint-check

test: 二重提出 409 テストに report_submitted_on 拡張プロパティの検証を追補する(#455)
  src/main/kotlin/com/example/api/controller/breeding/BreedingResultController.kt
  src/test/kotlin/com/example/api/controller/breeding/BreedingResultControllerTest.kt
Due: ktlint-check

docs: 用語集に繁殖成績報告の提出期限を追記する(#455)
  docs/ubiquitous-language.md
Due: none

chore: version 列に NOT NULL 制約を遡及付与する(#531)
  dbdoc/public.blood_horse.md
  dbdoc/public.breeding_registration.md
  dbdoc/public.breeding_result.md
  dbdoc/public.horse_inspection.md
  dbdoc/public.jockey.md
  src/main/resources/db/migration/V9__add_version_not_null.sql
Due: none

fix: 繁殖成績報告提出ユースケースに @Transactional のトランザクション境界を付与する(#455)
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCase.kt
Due: ktlint-check

chore: Terraform の required_version floor を >= 1.15 へ引き上げる(#517)
  infra/modules/cicd/versions.tf
  infra/modules/cloudrun/versions.tf
  infra/modules/local-readonly/versions.tf
  infra/modules/prisma-postgres/versions.tf
  infra/terraform.tf
Due: terraform-fmt-check, terraform-validate

feat: 種付成績報告書の提出期限 VO CoveringReportDeadline を追加する(#540)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/CoveringReportDeadline.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/CoveringReportDeadlineTest.kt
Due: ktlint-check

feat: 種付成績報告の集約 CoveringReport を追加する(#540)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/CoveringReport.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/BreedingFixture.kt
  src/test/kotlin/com/example/api/domain/studbook/model/breeding/CoveringReportCreateTest.kt
Due: ktlint-check

feat: 種付成績報告の提出ドメインサービスとポートを追加する(#540)
  docs/ubiquitous-language.md
  src/main/kotlin/com/example/api/domain/studbook/model/breeding/CoveringReportRepository.kt
  src/main/kotlin/com/example/api/domain/studbook/service/breeding/SubmitCoveringReport.kt
  src/test/kotlin/com/example/api/domain/studbook/service/breeding/SubmitCoveringReportTest.kt
Due: ktlint-check

feat: 種付成績報告の永続化（covering_report テーブル）を追加する(#540)
  dbdoc/README.md
  dbdoc/public.covering_report.md
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/CoveringReportRow.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/CoveringReportSpringDataRepository.kt
  src/main/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcCoveringReportRepository.kt
  src/main/resources/db/migration/V10__create_covering_report.sql
  src/test/kotlin/com/example/api/infrastructure/studbook/breeding/JdbcCoveringReportRepositoryContractTest.kt
Due: ktlint-check

feat: 種付成績報告提出ユースケースを追加する(#540)
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitCoveringReportUseCase.kt
  src/test/kotlin/com/example/api/application/studbook/breeding/SubmitCoveringReportUseCaseTest.kt
Due: ktlint-check

feat: 種付成績報告の提出エンドポイントを追加する(#540)
  src/main/kotlin/com/example/api/controller/breeding/CoveringReportController.kt
  src/main/kotlin/com/example/api/controller/breeding/CoveringReportResponse.kt
  src/main/kotlin/com/example/api/controller/breeding/problem/CoveringReportProblem.kt
  src/main/kotlin/com/example/api/controller/breeding/request/SubmitCoveringReportRequest.kt
  src/test/kotlin/com/example/api/controller/breeding/CoveringReportControllerTest.kt
Due: ktlint-check

chore: mapError の握りつぶしを検出する detekt ルール NoSilentMapError を追加する(#541)
  .claude/rules/architecture.md
  .claude/rules/error-handling.md
  config/detekt/detekt.yml
  detekt-rules/src/main/kotlin/com/example/api/detekt/NoSilentMapError.kt
  detekt-rules/src/main/kotlin/com/example/api/detekt/ToyBoxRuleSetProvider.kt
  detekt-rules/src/test/kotlin/com/example/api/detekt/NoSilentMapErrorTest.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RecordCoveringUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/RegisterBreedingRegistrationUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/ReportFoalingUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/breeding/SubmitBreedingReportUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/NameHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterFoalUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterImportedHorseUseCase.kt
  src/main/kotlin/com/example/api/application/studbook/horse/RegisterInStudBookUseCase.kt
Due: ktlint-check

chore: ADD CONSTRAINT と VALIDATE CONSTRAINT の同居を検出するチェックスクリプトを追加する(#539)
  scripts/check-migration-validate-separation.sh
Due: none

chore: VALIDATE CONSTRAINT 分離チェックを lefthook と CI に配線する(#539)
  .github/workflows/sql-check.yml
  lefthook.yml
Due: none

docs: VALIDATE CONSTRAINT の別マイグレーション分離を ADR-0052 として記録する(#539)
  docs/adr/0052-validate-constraint-in-separate-migration.md
  docs/adr/README.md
Due: none

Path conditions:
  ktlint-check: any of: **/*.{kt,kts}
  terraform-fmt-check: any of: infra/*.tf
  terraform-validate: any of: infra/*.tf
